html, body {
    min-height: 100vh;
}

.homePlaceholder {
    background-color: bisque;
    color: darkorchid;
    text-align: center;
    min-height: 100vh;
}

.MainContainer {
    background-color: antiquewhite;
}

.rows {
    background-color: bisque;
}