{% extends "layout.html" %}
{% block content %}
    <div class="MainContainer">

        <div class="header d-flex align-items-center justify-content-center">   
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <a href="{{ url_for('receive') }}">
                    <button type="button" class="btn btn-primary">Receive</button>
                </a>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <a href="{{ url_for('withdraw') }}">
                    <button type="button" class="btn btn-primary">Withdraw</button>
                </a>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <a href="{{ url_for('addmaterials') }}">
                    <button type="button" class="btn btn-primary">Add Materials</button>
                </a>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Dispose</button>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Certificates</button>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Inventory</button>
            </div>
        </div>
        

         </div>
     </div>
{% endblock %}

