{% extends "layout.html" %}
{% block content %}
    <div class="MainContainer">
        <div class="header d-flex align-items-center justify-content-center">
            <div class="button col d-flex align-items-center justify-content-center h-100">Button1</div>
            <div class="button col d-flex align-items-center justify-content-center h-100">Button2</div>
            <div class="button col d-flex align-items-center justify-content-center h-100">Button3</div>
        </div>
    </div>
{% endblock %}

