{% extends "layout.html" %}
{% block content %}
    <div class="MainContainer">

        <div class="header d-flex align-items-center justify-content-center">   
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <a href="{{ url_for('add') }}">
                    <button type="button" class="btn btn-primary">Receive</button>
                </a>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Withdraw</button>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Dispose</button>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Certificates</button>
            </div>
            <div class=" col d-flex align-items-center justify-content-center h-100">
                <button type="button" class="btn btn-primary">Inventory</button>
            </div>
        </div>
        
        <div class="d-flex justify-content-center">
            <div class="formContainer">
                <form method="POST" action="">
                    {{ form.hidden_tag()}}
                    <fieldset class="form-group">
                        <legend class="border-bottom">Add material</legend>
                        <div class="form-group">
                            {{ form.Product.label(class="form-control-label")}}
                            {{ form.Product(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group">
                            {{ form.LotNo.label(class="form-control-label")}}
                            {{ form.LotNo(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group">
                            {{ form.RecdDate.label(class="form-control-label")}}
                            {{ form.RecdDate(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group">
                            {{ form.RecdInit.label(class="form-control-label")}}
                            {{ form.RecdInit(class="form-control form-control-lg")}}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
         </div>
     </div>
{% endblock %}

